@import "tailwindcss";


@theme {
  --color-bg: var(--color-bg);
  --color-bg-elevated:var(--color-bg-elevated)
  --color-strong: var(--color-strong);
  --color-muted: var(--color-muted);
  --color-subtle: var(--color-subtle);
  --color-border: var(--color-border);
}

:root{
  --color-bg:#fff;
  --color-elevated:#F3F3F3;
  /* --color-bg:"#FDFDFC"; */
  /* --color-bg: #FAFAF8; */
  /* --color-bg: #F7F7F4; */
   --color-strong: #111111;
  --color-muted: #888888;
  --color-subtle: #f0f0f0;
  --color-border: #ededed;

}

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-bg);
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
  font-size: 15px;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
